.bizland-container{
    width: 1140px;
    margin: auto;
}

.bizland-flexbox{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    
}
.bizland-logo{
    color: #222222;
    font-size: 30px;
    line-height: 1;
    font-weight: 600;
    letter-spacing: 0.8px;
    font-family: "Poppins", sans-serif;
}
.dot{
    color: #106eea;
}


.bizland-navigation ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.bizland-navigation ul li {
    margin-left: 25px;
    
    
}
    
 .bizland-navigation ul li a{
  text-decoration: none;
  color: black;    
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3px;
  font-size: 15px;
  font-weight: 600;
  color: #222222;
  white-space: nowrap;
  transition: 0.3s;
  position: relative;
}
.bizland-fr-layout{
    background-image: url(../images/hero-bg\ \(1\).jpg);
    height: 468px;
}

.bizland-fr-container{
    width: 1140px;
    margin: auto;
}
.bizland-fr-head-parg{
  padding-top: 161px;

}
.header{
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #222222;
    font-family: "Poppins", sans-serif;
}
.paragraph{
    color: #555555;
    margin: 5px 0 30px 0;
    font-size: 24px;
    font-weight: 400;
}

.get-started{
    text-decoration: none;
    font-size: 13px;
    font-family: "roboto",sans-serif;
    font-weight: 530;
    color: #fff;
    background: #106eea;
    display: inline-flex;
    width: 150px;
    height: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

.button{
    display: flex;
}
.icofont-play-alt-2{
    color:#106eea ;
    
}

.watch-video{
    text-decoration: none;
    font-size: 16px;
    transition: 0.5s;
    margin-right: 25px;
    color: #222222;
    font-weight: 600;
    align-items: center;
    font-family: "roboto",sans-serif;
    
}

